{
  "presets": ["@babel/preset-env","@babel/preset-react"],
  "plugins": [[
    "file-loader",
    {
      "name": "[name].[ext]",
      "outputPath": "/build/assets",
      "publicPath": "/build/assets"
    }
  ]]
}
